div{
  height: 20px;
  width: 200px;
  background: rgba(0,255,255,0.25);
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

body{
  background-color: #DC143C;
}

.fuckthis {
  list-style:none;
  color:red;
  font-family:Calibri;
    }

.user{
  list-style:none;
  color:orange;
  font-family:Calibri;
}

.first {
  list-style:none;
  color:orange;
  font-family:Calibri;
}

.second {
  list-style:none;
  color:pink;
  font-family:Calibri;
}
.third {
  list-style:none;
  color:#66CD00;
  font-family:Calibri;
}

.fourth {
  list-style:none;
  color:#FF83FA;
  font-family:Calibri;
}
.fifth {
  list-style:none;
  color:#FF8C00;
  font-family:Calibri;
}
.sixth {
  list-style:none;
  color:#20B2AA;
  font-family:Calibri;
}
.seventh {
  list-style:none;
  color:#912CEE;
  font-family:Calibri;
}
.eighth {
  list-style:none;
  color:#EE82EE;
  font-family:Calibri;
}
.ninth {
  list-style:none;
  color:#20B2AA;
  font-family:Calibri;
}
.tenth {
  list-style:none;
  color:#0000CD;
  font-family:Calibri;
}
