#messagebox{
  height: 50px;
  width: 400px;
  background: rgba(255,255,255,0.9);
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
}

body{
  background-color: #104E8B;
}

div{
  float: left;
  position: fixed;
}

ul{
  float: left;
  clear: right;
  margin-left: 400px;
  margin-right: 50px;
}


button{
  font-family:Calibri;
  color: red;
  padding: 5px 5px 5px 5px;
  font-weight: bold;
  margin: 5px 10px 10px 10px;
  font-size: 15px;
  width: 65px;
}

input{
  padding: 5px 5px 5px 5px;
  margin: 10px 0px 10px 10px;
  width: 305px;
}

#test{
  list-style:none;
  color:white;
  font-family:Calibri;
  border: 1px solid;
  background-color: crimson;
  padding-right: 5px;
}

.first {
  list-style:none;
  color:white;
  font-family:Calibri;
}


boo{
  background: #DC143C;
  height: 20px;
  width: 400px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 10px;
  margin-left: -5px;
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  border: solid 2px;
}

img{
  margin-top: 20px;
  width:100px;
  margin-right: 700px;
  margin-left: 20px;
}

#images{
  background-color: orange;
  margin-top: 60px;
  width: 385px;
  margin-right: 100px;
  margin-left: 10px;
}
